 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div>
                <div class="row">
                      <div class="row">
                         <div class="col-lg-12 text-center">
                            <h2>Best Paper Award!</h2>
                         </div>
                      </div>
                      <div class="row">
                      <div class="col-lg-12 text-center">
                         <p>Yusuke Nishimura (Kyushu Institute of Technology), Tahera Hossain (Kyushu Institute of Technology), Akane Sano (Rice University), Shota Isomura (NTT Data Institute of Management Consulting), Yutaka Arakawa (Kyushu University), Sozo Inoue (Kyushu Institute of Technology), </p>
                       <p><b>"Toward the Analysis of Office Worker’s Mental Indicators Based on Activity Data"</b></p>
                      </div>
                   </div>
                   <div class="row">
                       <div class="col-lg-12 text-center">
                           <h3>Excellent Paper Awards!</h3>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-lg-12 text-center">
                        <p>Sizhen Bian (DFKI, Germany), Siyu Yuan (TU Kaiserslautern, Germany), Vitor Fortes Rey (DFKI, Germany), Paul Lukowicz (DFKI, Germany),</p>
                         <p><b>"Using Human Body Capacitance Sensing to Monitor Leg Motion Dominated Activities with a Wrist Worn Device"</b></p>
                    </div>
                    <br/>
                   <div class="row">
                       <div class="col-lg-12 text-center">
                         <p>Yoshinori Hanada, Tahera Hossain, Anna Yokokubo, Guillaume Lopez (Aoyama Gakuin University, Japan), </p>
                         <p><b>"BoxerSense: Punch Detection and Classification Using IMUs"</b></p>
                    </div>
                    <br/>
                <div>
                <div class="col-lg-12 text-center">
                    <h2>Welcome to {{site.title}}!</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  {% for text in site.about %}
                  <p>{{text.text}}</p>
                  {% endfor %}
                </div>
                <!--div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div-->
            </div>
        </div>
    </section>
